<dl>
    <div>
        <dt>
            <a href="dm-gauge2.html">
                <strong>&lt;dm-gauge2&gt;</strong>
            </a>
        </dt>
        <dd>シンプルなゲージ（メーター）を表示するタグ。タイプ２。</dd>
        <dd>
            <dm-gauge2 style="width: 150px;" data-value="50"></dm-gauge2>
        </dd>
    </div>
    <div style="position: relative;">
        <dt>
            <a href="dm-zawa.html">
                <strong>&lt;dm-zawa&gt;</strong>
            </a>
        </dt>
        <dd>ざわざわするタグ。</dd>
        <dd>
            <dm-zawa data-value="50" style="position: absolute;"></dm-zawa>
        </dd>
    </div>
</dl>