:root {
    background-color: rgb(19, 19, 21);
    color: rgb(190, 190, 210);
    font-family: Meiryo;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-corner {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: rgb(57, 57, 63);
    border: 0 none #fff;
    border-radius: 50px;
}

::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.2);
    border: 0 none #fff;
    border-radius: 0;
}

a:link {
    color: hsl(225, 100%, 80%);
    text-decoration: none;
}

a:visited {
    color: hsl(225, 100%, 75%);
    text-decoration: none;
}

a:hover {
    color: hsl(225, 100%, 85%);
    text-decoration: underline;
}

a:active {
    color: hsl(225, 100%, 85%);
    text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
    font-size: 1.0em;
    margin: unset;
    font-weight: unset;
}

h1 {
    font-size: 1.2em;
}

/* ヘッダ */
.header {
    position: relative;
    display: flex;
    align-items: center;
    height: 32px;
    padding-left: 8px;
    box-shadow: 2px 2px 4px rgb(10, 10, 10);
    background-color: rgb(57, 57, 63);
    color: rgb(209, 209, 231);
    z-index: 100;
}

.header .title {
    white-space: nowrap;
    overflow-x: auto;
}

.header .title h1 {
    display: inline-block;
}

.header .title::-webkit-scrollbar {
    display: none;
}

.header a:hover {
    background-color: rgb(30, 30, 30);
}

.header a {
    color: inherit;
    text-decoration: inherit;
}

.menu {
    position: absolute;
    right: 0;
    text-align: right;
}

.menu .button {
    display: none;
}

@media screen and (max-width: 640px) {
    .header .title {
        margin-right: 32px;
        padding-right: 32px;
    }
    .header .title::after {
        content: '';
        display: block;
        width: 32px;
        height: 100%;
        background: linear-gradient(to right, rgba(57, 57, 63, 0), rgba(57, 57, 63, 1));
        position: absolute;
        right: 32px;
        top: 0;
    }
    .menu {
        top: 0;
    }
    .menu .menuitem {
        visibility: hidden;
        display: block;
        text-align: start;
        padding: 8px 16px;
    }
    .menu .button {
        display: inline-block;
        width: 32px;
        height: 32px;
        color: rgba(200, 200, 240, 1);
        background-color: rgb(30, 30, 30);
        border-color: rgb(50, 50, 50);
    }
    .menu .button.active {
        border-style: inset;
    }
    .menu .button.active~.menuitem {
        visibility: visible;
        background-color: rgb(30, 30, 30);
    }
}

@media screen and (min-width: 640px) {
    .menu {
        display: flex;
        margin: 0 1%;
    }
    .menu .menuitem {
        text-align: center;
        width: 100px;
    }
    .menu .menuitem.active {
        background-color: rgb(70, 70, 70);
    }
}