.contents-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-content: flex-start;
}

.card {
    width: 320px;
    height: 320px;
    background-color: rgb(57, 57, 63);
    color: rgb(209, 209, 231);
    border-radius: 2px;
    box-shadow: 2px 2px 4px -2px;
    overflow: hidden;
    margin: 8px;
}

.title {
    padding-left: 8px;
    padding-right: calc(8px + 98px + 8px);
    padding-top: 4px;
    padding-bottom: 4px;
    height: 24px;
    position: relative;
    color: rgb(228, 228, 252);
}

.title .logo {
    max-height: 24px;
    max-width: 98px;
    position: absolute;
    right: 8px;
}

.content {
    height: calc(100% - 4px - 4px - 24px);
    background-color: rgb(38, 38, 42);
    overflow-y: auto;
    overflow-x: hidden;
    display: block;
    position: relative;
}

.content.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.mark {
    margin-right: 4px;
}

#crypto .content, #update .content, #blog .content, #labo .content, #components .content {
    padding: 8px;
}

#components dl {
    font-size: 0.8em;
    margin: 0;
}

#components dl dd {
    margin-left: 1.5em;
}

#crypto p, #blog p, #labo p, #components p {
    margin: 0;
    margin-bottom: 8px;
}

#crypto .ltp-item {
    border: 1px solid;
    border-color: rgb(95, 95, 105);
    padding: 4px 8px;
    margin-bottom: 8px;
}

.update.title {
    background-color: rgb(57, 57, 63);
    height: unset;
    font-size: 0.9em;
}

.update.content {
    height: unset;
    background-color: unset;
    overflow-y: unset;
    overflow-x: unset;
    padding: 0 8px;
}

.contact-list {
    display: flex;
    position: absolute;
    bottom: 0;
    list-style: none;
    padding: 0;
    margin: 8px;
}

.contact-list .contact {
    background-color: rgba(70, 70, 70, 1);
    width: 32px;
    height: 32px;
    font-size: 16px;
    border-radius: 50%;
    margin: 0 8px;
}

.contact-list a {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: inherit;
}

.contact-list .contact:hover {
    background-color: rgba(153, 153, 153, 1);
    color: rgba(34, 34, 34, 1);
}