<header class="header">
    <%- include('header') %>
</header>

<main class="contents-container">
    <%- include(page) %>
</main>

<footer class="footer">
    <%- include('footer') %>
</footer>
<%- locals.bodyend && include(locals.bodyend) %>